<% if (accounts.length > 0) { %>
  <table id="accounts-table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>
          Last Name <br>
          <input
            type="text"
            id="search"
            placeholder="Search..."
            style="width: 100%;"
          />
        </th>
        <th>Email</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <% accounts.forEach(account => { %>
        <tr>
          <td><%= account.account_firstname %></td>
          <td><%= account.account_lastname %></td>
          <td><%= account.account_email %></td>
          <td><%= account.account_type %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <p id="account-count"><%= count %> accounts found</p>
<% } else { %>
  <p>No accounts found.</p>
<% } %>

<div class="actions">
  <a href="/accounts" class="btn">Back</a>
</div>

<script src="/js/accountsView.js"></script>
