   <%- message %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<% if (accounts.length > 0) { %>
  <div>
    <input type="text" id="search" placeholder="Search by last name...">
  </div>
  <div>


  </div>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="accounts-table">
      <% accounts.forEach(account => { %>
        <tr>
          <td><%= escape(account.account_firstname) %></td>
          <td><%= escape(account.account_lastname) %></td>
          <td><%= escape(account.account_email) %></td>
          <td><%= escape(account.account_type) %></td>
          <td>
            <a href="/accounts/update/<%= account.account_id %>" class="btn">Edit</a>
            <button onclick="deleteAccount('<%= account.account_id %>')" class="btn-delete">Delete</button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <p id="account-count">Total accounts: <%= count %></p>
<% } else { %>
  <p>No accounts found.</p>
<% } %>

<div class="actions">
  <a href="/accounts" class="btn">Back</a>
</div>

<script src="/js/accountsView.js"></script>
